{
  "TOKEN": "Nzk1OTc3NDYxMTk5Nzk4Mjky.X_RNxw.6W4hJdHLIJajYn4T-txh_jMSqCc",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
